
body,div{ margin: 0; padding: 0; }
table{ border-collapse:collapse; border-spacing:0;}
table { border:none ;border-top:1px solid #eee;border-left:1px solid #eee;  font-size:12px;}
th {border-right:1px solid #eee; border-bottom:1px solid #eee; text-align:center; color:#888; line-height:38px;}
td {border:none; border-bottom:1px solid #eee;border-right:1px solid #eee; line-height: 22px; padding:2px;}
.lb-tables-warp{ width: 100%; }
table.lb-table{ width:100%; }
table.lb-table th{ text-align: center; background-color: #fafafa; height: 38px; line-height: 38px;}
table.lb-table tr:hover{ background: none;}
table.lb-table tr.even{ background-color: #f9f9f9;}
table.lb-table tr.hover {background-color:#f1f9ff;}
table.lb-table tr.active{ background-color: #d9edf7 }
table.lb-table td{padding: 5px; position: relative; }
#ddd .lb-table-tbody{ overflow: auto; }
table.lb-table td div{ padding:5px; box-sizing: border-box; height: 32px; }
.table-checkbox{ position: absolute; top:50%; left: 50%; margin-top:-6px; margin-left:-6px}
.table-text{ width: 100%; border: 0; position: absolute; top:0; left: 0;right:0; bottom:0; background-color:#fcf8e3; }
.lb-td-hide,.lb-col-hide{display: none;}
.red{ color: #f00;}
#lbTablePop{ background: #fff; }
th.lb-sort{ cursor: pointer; background-image: url(../images/sort.png); background-repeat: no-repeat; background-position: right center;}
th.lb-sort-asc{ background-image: url(../images/sort_asc.png);}
th.lb-sort-desc{ background-image: url(../images/sort_desc.png);}

.col-hide{ display: none; }